.scroll { position: absolute; margin: 0; padding:0; top: 28px; z-index: 1; overflow-y: auto; }
.scroll .inner { margin:0; padding: 0; width: 1px; height: 100%; }
.iframe-overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; pointer-events: none; z-index: 100; display: none; }
.iframe-overlay.active { display: block; pointer-events: all; background: transparent;}

html, body { margin: 0; padding: 0; width:100%; height: 100%; overflow: hidden;}
.container { margin: 0; padding: 0; width:100%; height: 100%; }
.main { display: flex; margin: 0; padding:0; width:100%; height: 100%;}
.left { position: absolute; display: flex; flex-direction: column; width: 100%; height: 100%; z-index: 0;}
.right { position: absolute; display: flex; flex-direction: column; left: 206px; height: 100%; background-color: white; z-index: 1;}
.resizer { position: absolute; margin:0; padding:0; top: 0; left: 0; bottom: 0; width: 6px; background: #dfd6d6; cursor: ew-resize; z-index: 1;}

.left .top { display: flex; gap: 5px; width: 100%; margin:0; padding: 0; background-color: white;}
.left .top .link { padding: 2px; color: #f4a261; cursor: pointer;}
.left .top .link:hover { background-color: #bad0e4; }
.right .top { width: 100%; padding: 3px 0 3px 0 ; margin:0; background-color: #d8e1ec;}
.right .top { display: flex; justify-content: left; align-items: center; font-size: 0.8em; }


.left .tree { width: 100%; height: 100%; font-size: 0.8em; padding-left: 3px; overflow-y: auto;}
.right .content { display: flex; width: 100%; height: 100%; overflow: auto;}


.tree .items { padding: 0; margin: 0; width: 100%; height: 100%; box-sizing: border-box;}
.tree .items {border-left: 10px solid #dbe3ea; padding-left: 1px; }
.tree .item { padding: 0; margin: 0;}
.tree .item .label { padding: 0; margin: 0; display: inline; cursor: pointer;}
.tree .item i { cursor: pointer;}
.tree .item .label:hover { background-color: #badce4; font-weight: bold;}
.tree .item.selected>.label { background-color: #83c5d5; }
.fa-folder { color: #f4a261; margin-right: 5px;}
.fa-folder:hover { transform: scale(1.2); color: #bd623c; }
.fa-folder-open { color: #f4a261; margin-right: 5px;}
.fa-folder-open:hover { transform: scale(1.2); color: #bd623c; }
.fa-folder-plus { color: #f4a261; margin-right: 5px;}
.fa-folder-plus:hover { transform: scale(1.2); color: #bd623c; }
.fa-file { color: #2a9d8f; margin-right: 5px;}
.fa-file-code { color: #2a9d8f; margin-right: 5px;}

.content[data-type="text"] { white-space: pre-wrap; font-size: 0.9em; font-family: "Fira Code", "JetBrains Mono", Consolas, "Courier New", monospace; font-feature-settings: "liga" on; }
.content[data-type="html"] { }
.content[data-type="img"] { display: flex; justify-content: center; align-items: center; overflow: hidden; }
.content[data-type="img"] img { max-width: 100%; max-height: 100%; width: auto; height: auto; display: block; }

.content[data-type="embed"] embed { width: calc(100% - 5px); height: calc(100% - 5px); }
.content[data-type="media"] { display: flex; justify-content: center; align-items: center; overflow: hidden }
.content[data-type="media"] audio {  }
.content[data-type="media"] video { width: 100%; height: 100%; }

.content[data-type="iframe"] { display: flex; justify-content: center; align-items: center; overflow: hidden }
.content[data-type="iframe"] iframe { width: 100%; height: 100%; }

